# Server Port (Default: 5000)
PORT=5000

# MongoDB URI (Optional: system runs in-memory dataset mode if empty or not reachable)
MONGODB_URI=mongodb+srv://username:password@cluster0.mongodb.net/pathfinder?retryWrites=true&w=majority
